.advert-details-page button {
  background-color: #ff5050;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.advert-details-page button:hover {
  background-color: #ff3333;
}

.advert-photo-page {
  text-align: center;
}
.advert-image-page {
  width: 300px;
  height: 300px;
  object-fit: contain;
}
.advert-name-page {
  font-size: 22px;
  font-weight: bold;
  color: #333;
}
.advert-details-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
