.advertsPage ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  padding: 0;
  list-style: none;
}
.advertsPage {
  display: flex;
}

.adverts-list {
  flex: 1;
  margin-left: 20px;
}

.no-results {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.no-results p {
  margin-bottom: 10px;
}

.card-content {
  display: flex;
}

.advert-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.advert-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.advert-name {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
  text-decoration: none;
  color: #333;
}

.advert-photo {
  text-align: center;
  margin-bottom: 20px;
}
.advert-image {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.advert {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.advert-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.advert-price {
  margin-right: 50px;
  display: flex;
  align-items: center;
}
.advert-sale {
  margin-right: 50px;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.advert-tags {
  margin-right: 50px;
  font-size: 12px;
  color: #555;
  margin-top: 8px;
}

.advert-sale-bg {
  background-color: #ffcccc;
}

.advert-purchase-bg {
  background-color: #ccffcc;
}

.advert-text {
  font-size: 14px;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}
